<html>
    <head>
        <title>About</title>

        <style>
            p {
                width: 500px;
            }
            a {
                padding-right: 10px;
            }
        </style>
    </head>

    <body>
        <p>You're currently on my "about" page.</p>
        <nav>
            <a href="/">home</a>
            <a href="/about" style="color: green;">about</a>
        </nav>
        <hr>

        <p>
            I enjoy walking, programming, aviation, and music.
        </p>
    </body>
</html>
