<html>
    <head>
        <style>
            a {
                padding-right: 10px;
            }
        </style>
    </head>

    <body>
        <p>You're currently on my "home" page.</p>
        <nav>
            <a href="/" style="color: green;">home</a>
            <a href="/about">about</a>
        </nav>
        <p>
            I don't really have social media, I'm more of a lurker myself, but you can find me on my github at <a href="https://github.com/dmitya26">dmitya26</a>
        </p>
        <p>Don't you dare go hollow!</p>
    </body>
</html>
