<html>
    <head>
        <title>about</title>
        <style>
            a{
                padding-right:10px;
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/all-writings">Writings</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
	<p>I'm currently reading and writing a lot about metaphysics and political philosophy. I code mainly mainly from a combination of finding it endlessly euphoric, and from the desire of solving problems. The simple act of treading ground, solving problems, gettings stuck, having no idea what to do and working from the ground up, approaching a problem I've never seen before that I have no idea how to solve, is what feeds my ravenous soul.</p>
    </body>
</html>
