<html>
    <head>
        <title>about</title>
        <style>
            a{
                padding-right:10px;
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <p>My primary interests include flight sims, philosophy, and programming. From time to time, I also enjoy playing Dark Souls and Hollow Knight.</p>
    </body>
</html>
