<html>
    <head>
        <title>contact</title>

        <style>
            a {
                padding-right: 10px;
            }
        </style>
    </head>

    <body>
        <h1>Contact</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/all-writings">Writings</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <a href="mailto:business@mitya.app">Email - business@mitya.app</a><br>
        <a href="https://github.com/dmitya26">Github - dmitya26</a><br>
    </body>
</html>
