<!-- I called this "display writings", but it actually is more like a table of contents. -->
<html>
	<head></head>
	<body>
		<a href="/">Go home...</a>
		<h1>Writings</h1>

		<h2>I would like to warn any potential readers that my writing is highly existential, epistemological, metaphysical, and overall questions reality. If you don't like that, don't read it and have a nice day.</h2>
		<hr>
		{% block content %}
			{% for i in bookData %}
				<a href="/writing/{{i[1]}}">{{i[0]}}</a><br><br>
			{% endfor %}
		{% endblock %}
	</body>
</html>
