<html>
    <head>
        <title>home</title>

        <style>
            h3 {
                background-image: linear-gradient(black, white);
                color: transparent;
                background-clip: text;
            }
            a {
                padding-right: 10px;
            }
        </style>
    </head>

    <body>

        <h1>Mitya</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/all-writings">Writings</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <h3>Don't you dare go hollow...</h3>
    </body>
</html>
