<html>
    <head>
        <title>home</title>

        <style>
            #hollow {
                background-image: linear-gradient(black, white);
                color: transparent;
                background-clip: text;
            }
            a {
                padding-right: 10px;
            }
            #paddingExceptionAnchor {
                padding-right:0;
            }
        </style>
    </head>

    <body>

        <h1>Mitya</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <h2>If you haven't already, please checkout my <a id="paddingExceptionAnchor" href="/portfolio">software portfolio</a>!</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h3 id="hollow">Don't you dare go hollow...</h3>
    </body>
</html>
