<html>
    <head>
        <title>portfolio</title>
        <style>
            a{
                padding-right:10px;
            }
        </style>
    </head>
    <body>
        <h1>Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/all-writings">Writings</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <li>speed   - An autonomous RC racecar.</li>
        <li>mdp     - Markdown parser and renderer.</li>
        <li>xchangr - An economy simulation discord bot.</li><br>
    </body>
</html>
