<html>
    <head>
        <title>Reading</title>
        <style>
            a{
                padding-right:10;
            }
        </style>
    </head>
    <body>
        <h1>Reading</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/all-writings">Writings</a>
            <a href="/reading">Reading</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact">Contact</a>
        </nav>
        <hr>
        <h3>Preface</h3>
        I really did try to read non-fiction, realistic-fiction, YA, etc... and it's just not for me. I love philosophy, and my favorite author and philosopher is Soren Kierkegaard.
        <br><br>

        <h3>Reading</h3>
        <li>Either/Or - Soren Kierkegaard.</li>
        <li>Beyond Good and Evil - Friedrich Nietzsche.</li>
        <!-- <br><br> -->
    </body>
</html>
